body {
    background-color: white;
    padding:0;
    margin:0;
    overflow-x:hidden;
    display:flex;
    flex-direction:column;
    animation: page-trans 1.5s ease;
    scroll-behavior: smooth;
}

/* page load transition */
@keyframes page-trans {
    0% { opacity: 0;}
}


/* hyperlink config */
a { color:inherit; }


.webvisibility { visibility: hidden; height:0px; }

@media only screen and (min-width : 1025px) { 
    .webvisibility { 
        display:block;
        visibility: visible;
        background-color:#333333;
        color:azure;
        width: 100vw;
        height: 100vh; 
        text-align:center;
        font-size:20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    nav { visibility: hidden; }
    body { visibility: hidden; overflow:hidden;}
}

/*  ========
    Start of scrollbar
    ========  */

/* width */
::-webkit-scrollbar {
    width: 6px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(170, 170, 170, 0.69); 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(119, 119, 119, 0.692); 
}

/*  ========
    End of scrollbar
    ========  */


/* Header style */

header h2 {
    margin:20px 10px 2px 10px;
    font-size:1.3rem;
    text-align: center;
    letter-spacing: 13px;
    margin-left:15px;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
    0px -5px 35px rgba(255,255,255,0.3);
}

/*  ========
    Start of navigation menu
    ========  */

#menu {
    z-index:9999;
}

nav {
    display:flex;
    align-items: center;
    justify-content: center;

    max-width:100vw;
    width:80%;
    position: fixed;
    bottom:0;
    left:10vw;
}

.nav_container {
    background-color:#333333;
    border-radius:50px;
    box-shadow: 5px 10px 20px #4d4d4db7;

    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:10px 35px 8px 35px;
    width:50%;
    max-height:10%;
    height:10%;
}

.nav_container img { 
    align-items: center;
    margin-top:8px;
    max-width:15%;
    width:100%;
    height:12%; 
    transition: .3s;
}

.nav_container img:hover{
    transform: scale(1.3);
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
    
}

#home { max-width:30%; width:100%; }

/*  = Start of contact menu = */

    /* The Modal (background) */
    .modal {
        display: none;  /* Hidden by default */
        position: fixed;  /* Stay in place */
        z-index: 1;   /* Sit on top */
        padding-top: 50vh;   /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;  /* Full width */
        height: 100%;  /* Full height */
        overflow: auto;  /* Enable scroll if needed */
        background-color:#33333355;   /* Black w/ opacity */
    }

    #myModal2 { padding-top: 40vh; }

    /* iphone se queries */
    @media (min-height: 568px) and (max-height: 568px) and (min-width: 320px) and (max-width: 320px) {
        .modal { padding-top: 45vh; }
        #myModal2 { margin-top:-60px; }
    }

    /* Modal Content */

    .modal-content {
        color:#EAEAEA;
        position:relative;
        opacity:.95;
        background-color: #333333;
        margin: auto;
        padding: 15px;
        width: 60%;
        border-radius: 5px;
        border-width:0px;
        box-shadow: 24px 24px 47px #2b2b2b;

        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 0.4s;
        animation-name: animatebottom;
        animation-duration: 0.4s
    }

    .modal-content p{
        color:#eaeaea;
        letter-spacing: 3px;
        margin-top:3px;
        font-size:medium;
        font-weight:bolder;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    /* contact list */
    #list {
        color:#eaeaeaec;
        font-size:smaller;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        padding:5px;
        margin:10px;
        transition: .1s ease-in-out;
        cursor: pointer;  
    }

    #list:hover, #list:focus{
        background-color:#2b2b2b;
        transition: .1s ease-in-out;
    }

    /* Add Animation */
    @-webkit-keyframes animatebottom{
    from {bottom:-10vh; opacity:0} 
    to {bottom:0; opacity:.95}
    }

    @keyframes animatebottom {
        from {bottom:-10vh; opacity:0} 
        to {bottom:0; opacity:.95}
    }

    /* The Close Button */
    .close, .close2 {
        color: #EAEAEA;
        float:right;
        padding-right:0px;
        margin-top: -3px;
        font-size: 28px;
        font-weight: bold;
        transition:.2s ease;
    }

    .close:hover, .close2:hover,
    .close:focus, .close2:focus {
        color: rgb(146, 146, 146);
        text-decoration: none;
        cursor: pointer;
        transition:.2s ease;
    }

    .phone {
        float:left;
        width:15px;
        padding-right:0px;
        padding-top:3px;
        transform: scaleX(-1);
    }
/*  = End of contact menu = */

/* = Start of catalog menu = */

/* Slideshow container */
    .slideshow-container {
        position: relative;
        background: #333333;
        padding:10px;
    }

    .slideshow-container:hover {
        background-color:#2b2b2b;
        transition: .1s ease-in-out;
    }

    /* Slides */
    .mySlides, .CmySlides {
        display: none;
        text-align: center;
    }

    .CmySlides img {
        transition:1s ease;
    }

    /* Next & previous buttons */
    .prev, .prev2,
    .next, .next2{
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -30px;
        padding: 16px;
        color: #888;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        -webkit-tap-highlight-color: transparent;
    }

    /* Position the "next button" to the right */
    .next, .next2{
        position: absolute;
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .prev2:hover,
    .next:hover, .next2:hover {
        color: white;
    }

    /* Add an italic font style to all quotes */
    q {
        font-style: italic;
        font-weight: 500;
    }

    #gofilter {
        display: block;
        margin:auto;
        margin-top:10px;
        border-radius:50px;
        border-width: 0;
        padding:10px 20px 10px 20px;
        cursor:pointer;
        font-family: monospace;
        letter-spacing: 3px;
        font-weight: bold;
        outline: none;
        background-color:#EAEAEA;
        color: #333333;
    }

    #gofilter:hover{
        transition:.15s ease;
        background-color: grey; 
        color:white;
    }

/* = End of catalog menu = */


/*  ========
    End of navigation menu
    ========  */


/*  ========
    Start of container1
    ========  */

.sec1_container {
    overflow: hidden;
    
    max-width:100vw;
    height:70%;
    position:relative;
    margin-top:-15px;
}

.sec1_container img {
    max-width: 105vh;
    height:100%;
    width:200%;
    margin-left:-15px;
    margin-top:30px;
    object-fit: fill;
}

.sec1_container h3 {

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgba(80, 80, 80, .5);
    text-align:center;
    font-size:0.8rem;
    letter-spacing: 5px;
    font-style: italic;
    margin-top:20px;
    margin-bottom:-5px;

    position:relative;
}

/* shop now button */
#shopnow {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:-2rem;

    padding:1rem 2rem 1rem 2rem;
    border-width: 0;
    color:white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 3px;

    background-color: pink;
    opacity:.92;
    transition: background-color .4s;
    border-radius:2px;
    outline: none;
    cursor:pointer;
}

#shopnow:hover{
    background-color: white;
    color:black;
}

/*  ========
    End of container1
    ========  */

/*  ========
    Start of container2
    ========  */

.sec2_container {
    display:grid;
    grid-template-columns: auto;
    height:100px;
    padding:10px;
    margin-bottom:45px;
    margin-top:20px;
}

.sec2_text {
    justify-items: center;
    color:#333333c2;
}

.sec2_container h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.sec2_container p {
    width:70vw;
    text-align: justify;
    text-justify: inter-word;
    font-size: 12px;
    padding:0 20px 0 20px;
    margin:-5px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}

/*  ========
    End of container2
    ========  */

/*  ========
    Start of container3
    ========  */

.sec3_container {
    background-color: orange;
    background: url(../Images/IMG_5970.jpg);
    filter:saturate(130%);
    background-position: center;
    background-size:cover;
    
    max-width:100%;
    height:150px;
    overflow:hidden;
    position:relative;
    margin-bottom:50px;
    margin-top:20px;
}

.sec3_overlay {
    background-color: rgba(61, 61, 61, 0.7);
    color:white;
    height: 100%;
    text-align: center;
    overflow: hidden;
    padding-top:40px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
}

/*  ========
    End of container3
    ========  */

/* ======
   Start of instagram feed 
   ====== */

.instafeed {
    display:grid;
    gap: 0.4rem;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    padding:6px;
    overflow: hidden;
}

.instafeed > div {
    height:20rem;
}

.instafeed > *:hover {
    filter: saturate(120%);
    cursor:pointer;
    transform: scale(1.05);
}

.instafeed > *{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s ease;
}

.instafeed > :nth-child(1) { background-image: url(../Images/syiqin_5.jpg); }

.instafeed > :nth-child(2) { background-image: url(../Images/vogue_1.jpg); }

.instafeed > :nth-child(3) { background-image: url(../Images/syiqin_4.5.jpg); }

.instafeed > :nth-child(4) { background-image: url(../Images/vogue_2.jpeg);}

/* ======
   End of instagram feed 
   ====== */

/* ======
   Start of instagram feed 
   ====== */

.footer h3 {
    color:#EAEAEA;
    letter-spacing: 3px;
    display:block;
    text-align: center; 
    padding:20px;
    font-family: Arial;
}

/* ======
   End of instagram feed 
   ====== */

/*  ======
    Start of media queries
    ====== */

    /* ----------- iPhone X ----------- */
    /* Landscape phones */
    @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {

        .sec1_container img {
            max-width: 222vh;
            width:max-content;
            margin-top:5px;
        }

        .nav_container {
            width:25%;
            max-height:10%;
            height:10%;
        }

        .modal {
            padding-top: 10vh;   /* Location of the box */
        }

        .modal-content {
            width: 35%;
        }

        #myModal2 { padding-top: 10vh; }
    }

    /* ----------- Tablets ----------- */
    @media only screen and 
    (min-width:768px) and (max-width:768px) and
    (min-height:768px) and (max-height:768px) {
        .sec1_container img {
            max-width: 116vh;
            width:max-content;
        }
        .nav_container {
            width:35%;
        }
        .modal {
            padding-top: 50vh;   /* Location of the box */
        }
        .modal-content {
            width: 35%;
        }
        #myModal2 { padding-top: 45vh; }
    }
    
    /* ----------- Ipads ----------- */
    /* Portraits */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) and (min-height:769px)
    and (orientation: portrait)  {
        .sec1_container img {
            max-width: 86vh;
        }
        .modal {
            padding-top: 60vh;   /* Location of the box */
        }
        .modal-content {
            width: 40%;
        }
        #myModal2 { padding-top: 55vh; }
    }

    /* ----------- 1024p Laptops ----------- */
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape)  {
        .sec1_container img {
            max-width: 105vw;
        }
        .nav_container {
            width:25%;
            max-height:10%;
            height:10%;
        }
        .modal-content {
            width: 30%;
        }
        #shopnow {
            position:absolute;
            right:13%;
            top:62%;
            font-size:20px;
            padding:1rem 2.5rem 1rem 2.5rem;
            background-color: azure;
            opacity:0.5;
            color:#333333;
        }
        #shopnow:hover{
            background-color: #333333;
            color:white;
        }
    }

    /* ----------- iPad Pro 12.9" ----------- */
    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1366px) {
        .modal { padding-top: 45vh; }
        #myModal2 { padding-top: 40vh; }

        .modal-content {
            width:40%;
            font-size: 25px;
        }

        #shopnow {
            font-size:25px;
            padding:1rem 3.5rem 1rem 3.5rem;
        }
        .sec2_text{ font-size:20px; }
        .sec2_text p { font-size: 15px; }
    }

/*  ======
    End of media queries
    ====== */

/* ----------- Laptops ----------- */
@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1) {

    nav {
        position: fixed;
        bottom:0;
    }

    .navlap_container {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap:0.3em;
    }

    .navlap_container > h2 {
        background-color:#333333;
        border-radius:50px;
        width:100%;
        height:30%;
        padding:5px;
    }

}



/* ====================== STYLE FOR CATALOG ========================= */
            
#main {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    gap:5px 25px;
    overflow:inherit;
    overflow:hidden;
}

#container {
    background-color:#e6e6e6;
    color:#636363;
    font-size:11.8px;
    font-family: Helvetica;

    width:100%;
    margin-bottom:2px;
    transition:.4s ease;

    display: grid;
    grid-template-columns: 0.42fr 0.95fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: ". .";
    padding:10px 10px;
    border-radius:3px;
    box-shadow:2px 2px 5px #333333;
    -webkit-tap-highlight-color: transparent;
    overflow:hidden;
}

@media (max-width:320px) {
    #container {
        font-size:10.8px;
    }    
}

#container:hover {
    transform:scale(1.04);
    transition:.4s ease;
    background-color:#333333;
    color:white;
    position:relative;
}

@media (max-width: 734px) {
    #container:hover > #image img{
        width:130px;
        transition: .3s ease;
    }
}

#info-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
    grid-template-areas: "." "." "." "." ".";
    margin-top:-10px;
    margin-left:8px;
}

#info-container > div {
    margin-top:-10px;
    font-size:13px;
}

.add {
    cursor:pointer;
}
.content {
    float:right;
}
#image img {
    width:120px;
    float:left;
    margin-left:0px;
    border-radius:10px;
    transition: .5s ease;
    cursor:zoom-in;
}
.show{
    z-index: 999;
    display: none;
}
.show .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.66);
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
}
.show .img-show{
    width: 350px;
    height: 500px;
    background: #FFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden
}
.img-show span{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
}
.img-show img{
    width: 100%;
    height: 105%;
    position: absolute;
    margin-top:-25px;
    top: 0;
    left: 0;
}
